.vs/
.x64/
.idea/

debug/
Debug/
release/
Release/
target/
build/
build-*/
cmake-build-debug/
cmake-build-release/
CMakeFiles/

*.bak
*.ilk
*.pdb
*.obj
*.vcxproj
*.filters
*.cmake
*.sln
*.exe
*.lib
*.dll
*.user

CMakeCache.txt
Makefile
Testing

/env
/cmake-build-qt-gui-debug
/cmake-build-qt-gui-release
